*.class

*.jar
*.war
*.ear

enwiki-20131202-pages-articles.gum.xml
enwiki-20131202-pages-articles.gum.xml.0000.gz
test.txt
test2.txt
test1.xml
test2.xml
test3.xml
test.xml
Archive.zip
test3.txt
test4.txt
test.xml.swp
test1.xml.swp
text2.xml
text3.xml
